.old_price {
    font-weight: bold;
    color: red;
}

.new_price {
    font-weight: bold;
    background-color: green;
    color: white;
    padding: 2px;
}

.pic-box {
    /* add some properties here, for example: */
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
}

.hot {
    background-color: red;
    color: aliceblue;
    font-weight: bold;
}